* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./utils/img/other-imgs/header2.png);
  background-size: cover; /* Escala la imagen para cubrir todo el header */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
}

#container {
  width: 90%;
  height: 90vh;
  min-width: fit-content;
  min-height: fit-content;
  padding: 15px;
  border: 2px dashed #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Container GENERAL para la BANCA */
#containerBanca {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

#datosBanca {
  align-items: center;
  text-align: center;
  width: 20%;
  min-width: 130px;
  height: 30vh; /* Ajuste para igualar a la altura de #tapeteBANCA */
  border: 2px ridge #14cf33;
}
.bancaName {
  border: solid 3px;
  text-align: center;
  padding: 6px;
}
#puntosBanca {
  font-size: 50px;
  border: dashed orange;
}
.puntos {
  font-size: 30px;
  border: dashed rgb(255, 0, 179);
}
.puntajeBanca {
  border: solid 3px yellow;
}
/* TAPETE DE JUEGO CROUPIER */
#tapeteBanca {
  width: 75%;
  height: 30vh;
  min-height: fit-content;

  padding: 15px;
  border: 8px solid #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

/* Botonera en el centro, ocupando todo el ancho de #container */
#tapeteBotonera {
  height: 20vh;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
}

/* Container GENERAL para el JUGADOR */
#containerPlayer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

#playerDates {
  width: 20%;
  min-width: 130px;
  height: 30vh; /* Ajuste para igualar a la altura de #tapeteCroup */
  border: 2px ridge #14cf33;
}

#tapetePlayer {
  width: 75%;
  height: 30vh;
  min-height: fit-content;
  padding: 15px;

  border: 8px solid #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

#cartaCr1 {
  min-width: fit-content;
  min-height: fit-content;
  align-items: center;
  border: 1px solid #ff0000;
  background-color: lightgray;
}

.prueba {
  width: 120px;
}

#tapeteBanca img,
#tapetePlayer img {
  transition: transform 0.9s ease, box-shadow 0.3s ease;
}
#tapeteBanca img:hover,
#tapetePlayer img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.game-button {
  font-weight: bold;
  font-size: larger;
  border: none;
  padding: 25px;
  border-radius: 10px;
  transition: background-color 1s ease, outline 0.5s ease;
}
#oneMore {
  background-color: #6fc27d;
}

#oneMore:hover {
  background-color: #6fc27d;
  color: #000000;
  outline: 3px solid #14cf33;
  border-bottom: solid 5px #14cf33;
}

#stop {
  background-color: #f88484;
}
#stop:hover {
  background-color: #f88484;
  color: #000000;
  outline: 3px solid #ff0000;
  border-bottom: solid 5px #ff0000;
}
