/* *{
margin: 0 0;
padding: 0 0;
width: 100%;
} */

body{
    width: 100%;
}

header{
text-align: center;
padding: 20px;
background-color: bisque;
width: 100%;
}


.row{
    margin: 0 auto;
}

.col-5{
    margin: 0 2%;
    padding: 10px;
    text-align: center;
    border: solid 1px;
}
.col-6{
    margin: 0 2%;
    padding: 10px;
    text-align: center;
    border: solid 1px;
}
.mb-3{
    text-align: left;
}

.prioridad{

    background-color: rgba(172, 172, 172, 0.068);
    padding: 5px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 6px;
    gap: 5%;
    
    text-align: center;
}

#descripInput{
    min-height: 120px;
}

#option1, #option2, #option3{
min-width: 300px;
}

.prioridad2{
text-align: center;
}


