<h1>Conocimientos y Experiencia de  {{ nombre }}</h1>



<div class="row mt-5">
    <div class="col-4">
        <h2>Formulario</h2>
        <input [(ngModel)]="nombreConocimiento" class="form-control mb-3"  placeholder="Introduce Conocimiento">
        <select [(ngModel)]="nivelConocimiento" class="form-select mb-3" >
            <option value="1">Bajo</option>
            <option value="2">Medio</option>
            <option value="3">Alto</option>
        </select>
        <button 
        class="btn btn-primary mb-3" (click)="guardarConocimiento()" >
        Guardar
    
        </button>
    </div>
    
    <div class="col">
        <h2>Conociemientos</h2>

        <button 
        class="btn btn-primary mb-3 justify-content-center"
        
        (click)="mostrarConocimientos()"
        >
        <!-- se puede meter estos eventos para 
        mostrar segun esta activo el foco 
            (mouseenter)="mostrarConocimientos()"
            (mouseleave)="mostrarConocimientos()"
        -->
            Mostrar Conocimientos
        </button>
        

        <ng-container *ngIf="mostrar; else elseTemplate">
            
        </ng-container>
        <ng-template #elseTemplate>
            <div class="alert alert-primary text-center" role="alert">
                Si quieres ver los conocimientos, pulsa el boton
              </div>
        </ng-template>
        <!-- PARTE DEL ELSE -->
             <div  *ngIf="mostrar" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div *ngFor="let item of conocimientos" class="col text-center">
                    <div class="card">
                        
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ item.nombre }}/{{ item.nombre }}-original.svg" class="card-img-top h-25 p-4" alt="imagen del logo {{ item.nombre }} no disponible">
                        <div class="card-body">
                        <h5 class="card-title">{{ item.nombre }}</h5>
                        <p class="card-text">El nivel de conocimiento en {{ item.nombre }} es de {{ item.nivel }}</p>
                        </div>
                        
                    
                        
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="row mt-4" *ngIf="conocimientos.length<1">
    <div class="alert alert-warning text-center fw-bold" role="alert">
        NO TIENES CONOCIMIENTOS AGREGADOS
      </div>
    
</div>