<!-- DIRECTIVA SWITCH comentada para trabajar con el route -->

<!-- <div class="container">
  <h1>App Angular</h1>
  <p>Esta es la primera app realizada con Angular y 
    es una app de {{ title }} realizada por {{ autor }}</p>


<select class="form-select my-4" [(ngModel)]="seleccion">
  <option class="text-center" value="1">Conocimientos</option>
  <option class="text-center" value="2">Asignaturas</option>
  <option class="text-center" value="3">Tecnologias</option>
</select>



<div [ngSwitch]="seleccion">
  
  <app-listado *ngSwitchCase="'1'"></app-listado>
  <app-asignaturas *ngSwitchCase="'2'"></app-asignaturas>
  <app-tecnologias *ngSwitchCase="'3'"></app-tecnologias>
  <div *ngSwitchDefault class="alert alert-primary text-center" role="alert">
    Por Defecto no se muestra nada, por favor elige una opcion
  </div>
</div>

</div> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="conocimientos">Conocimientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/asignaturas',2]">Asignaturas</a>
        </li>
        <!-- Tecnologias vamos a hacerlo desde la parte logica -->
        <li class="nav-item">
          <button class="nav-link  active" (click)="navegarLogica()">Tecnologias</button>
        </li>
       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  
</div>