<select class="form-select" [(ngModel)]="seleccionTag">
  <option class="select-item">Love</option>
  <option class="select-item">French</option>
  <option class="select-item">English</option>
  <option class="select-item">History</option>
  <option class="select-item">Fiction</option>
  <option class="select-item">Life</option>
</select>
<button class="btn btn-secondary mt-4" (click)="Filtrado()">Filtrar</button>
<!-- DE MOMENTO ASI, PERO LO HAREMOS CON INPUT  -->
<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
  <div class="col" *ngFor="let item of posts">
    <app-post [post]="item"></app-post>
  </div>
</div>


<!-- 
<select class="form-select">
    <option class="select-item">Spanish La Liga</option>
    <option class="select-item">Spanish La Liga</option>
</select> -->

<!-- https://www.thesportsdb.com/api/v1/json/3/search_all_teams.php?l=Spanish+La+Liga -->
