*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    
}

header{
    text-align: center;
    padding: 15px;
    background-color: rgb(13, 110, 253);
    color: rgb(255,255,255);
}

#filtros{
   
    padding: 3px;
    padding-bottom: 8px;
    text-align: center;
    
    background-color: rgb(125, 177, 255);
    border-radius: 24px;
    margin-bottom: 5px;
    
   
    
}
#filtros h2{
    text-align: center;
    
    margin-bottom: 15px;
    
}

.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-3{
    display: flex;
    padding: 30px;
    align-items: stretch;
    border-radius: 16px;
    background-color: aliceblue;
    
    
}

.col.fil{
    margin: auto 0;
    padding: 10px 0 15px 0;
    
    

}
.col input{
    text-align: center;
    
    
}
/*  */
.row.mt-3{
    justify-content: center;
    padding: 3px;
    padding-bottom: 24px;
    
    background-color: rgb(13, 110, 253);
    border-radius: 24px;
    
}

.row.mt-3 h2{
    text-align: center;
    margin-top: 8px;
    color: rgb(255,255,255);
    
}

img{
    aspect-ratio: 1/1;
    object-fit: cover; 
    padding: 2px;
    border-radius: 4px;
    
}

.row.row-cols-2.row-cols-md-3.row-cols-lg-4.g-1{
    display: flex;
    padding: 20px;
    align-items: stretch;
    border-radius: 16px;
    background-color: aliceblue;
    justify-content: space-around;
    
}

.divBtnCarro{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#cantidad{
    max-width: fit-content;
    border-radius: 4px;
    font-size: large;
}
nav.navbar, header {
    margin: 0;
    padding: 0;
}

nav h1, .container-fluid{

    padding: 15px;
    background-color: rgb(13, 110, 253);
}

nav .navbar.navbar-expand-lg.bg-body-tertiary{
    padding: 15px;
}

.collapse.navbar-collapse{
    justify-content: space-around;
    font-size: larger;
}

.collapse.navbar-collapse ul{
    justify-content: space-around;
    font-size: larger;
    font-weight: 500;
}
.collapse.navbar-collapse ul a{
    color: rgb(255,255,255);
}
.collapse.navbar-collapse ul a.nav-link.active{
    color: rgb(255,255,255);
}

span{
    color: rgb(255,255,255);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* nav h1, .container-fluid{

    background-color: rgb(13, 110, 253);
}

nav .navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: rgb(13, 110, 253);
}
.navbar-expand-lg{
    background-color: rgb(13, 110, 253);

}
.collapse.navbar-collapse{
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
}

.collapse.navbar-collapse ul{
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
}

.navbar-toggler-icon{
    align-content: start;
}
 */